<%- include('./partials/top.ejs') %>
  <h1>Attendance</h1>

  <button><a href="/<%= presentClassId %>/<%= presentBatchId %>/newStudent">Add Student</a></button>

  <p><%= studentList[0].branch %> </p>
  <p><%= studentList[0].Shift %> </p>
  <p><%= studentList[0].year %> </p> <!--Year of student studying-->
  <p><%= Month %> </p>
  <p><%= dd %> </p>
  <p><%= TodayDate %> </p>
  <p><%= Year %> </p> <!--Present Year-->



  <div>P - Present</div>
  <div>A - Absent</div>
  <div>NW - not a working day</div>

  
  <div><h3>Don't Forget To Save The Attendance.</h3></div>
  <div><button type="submit">Save Attendance</button></div>


  
  <div>P - Present</div>
  <div>A - Absent</div>
  <div>NW - not a working day</div>

  
  <div><h3>Don't Forget To Save The Attendance.</h3></div>
  <div><button type="submit">Save Attendance</button></div>

  <div class="row">
    <div class="col-3">
      <% studentList.forEach(std => { %>
        <div class="mb-5">
          <span><%= sno+1 %>  </span>
          <% sno+=1 %> 
          <span><%= std.enrollNo %> </span>
          <span><%= std.name %> </span>
        </div>
      <% }) %>
    </div>
    <div class="col-8">
      <form action="/<%= presentClassId %>/<%= presentBatchId %>/attendance" method="POST">
      <% studentList.forEach(std => { %>
        <div class="mb-3 p-1">
          <div>
            <span><%= dd %> </span>
            <select name="dd" onchange=attendanceChangeHandler(event)>
              <option value=0>P/A</option>
              <option value=0>NW</option>
              <option value=1>P</option>
              <option value=2>A</option>
            </select>
          </div>
          <br>
        </div>
      <% }) %>
      <div><button type="submit">Save Attendance</button></div>
      </form>
    </div>

  <% }) %>

  <div class="row">
    <div class="col-3">
      <% studentList.forEach(std => { %>
        <div class="mb-5">
          <span><%= sno+1 %>  </span>
          <% sno+=1 %> 
          <span><%= std.enrollNo %> </span>
          <span><%= std.name %> </span>
        </div>
      <% }) %>
    </div>
    <div class="col-8">
      <form action="/<%= presentClassId %>/<%= presentBatchId %>/attendance" method="POST">
      <% studentList.forEach(std => { %>
        <div class="mb-3 p-1">
          <div>
            <span><%= dd %> </span>
            <select name="dd" onchange=attendanceChangeHandler(event)>
              <option value=0>P/A</option>
              <option value=0>NW</option>
              <option value=1>P</option>
              <option value=2>A</option>
            </select>
          </div>
          <br>
        </div>
      <% }) %>
      <div><button type="submit">Save Attendance</button></div>
      </form>
    </div>

    <div class="col-1">
      <% studentList.forEach(std => { %>
        <div class="mb-3">
          <span>
            <form action="/<%= presentClassId %>/<%= presentBatchId %>/<%= std.id %>/deleteStudent" method="POST">
              <button type="submit">DELETE</button>
            </form>
          </span>
        </div>
      <% }) %>
    </div>
    
  </div>  
  <div><h3>Don't Forget To Save The Attendance.</h3></div>
  <div><button type="submit">Save Attendance</button></div>
  </form>

    <script>
      attendanceChangeHandler = event => {
        console.log(event.target.value);
        console.log(event.target.name);
      }
    </script>
</body>
</html>