<%- include('./partials/top.ejs') %>

  <h1>HOME PAGE AFTER LOGIN/SIGNUP</h1>

  <button><a href="/newClass">New Batch</a></button>

  <% classList.forEach(batch => { %> 
    <p> <%= batch.branch %> </p>
    <p> <%= batch.Shift %> </p>
    <p> <%= batch.year %> </p>
    <p> <%= batch.subject %> </p>
  <% }); %> 

  <button><a href="/logout">LOGOUT</a></button>

</body>
</html>